# This file contains pin mappings for the MTW Create (circa 2015). To
# use this config, the firmware should be compiled for the AVR
# atmega2560.

# See the example.cfg file for a description of available parameters.

[stepper_x]
step_pin: PC0
dir_pin: !PL1
enable_pin: !PA7
step_distance: .01
endstop_pin: ^PB6
position_endstop: -24
position_min: -24
position_max: 250
homing_speed: 50
homing_retract_dist: 0

[stepper_y]
step_pin: PC1
dir_pin: PL0
enable_pin: !PA6
step_distance: .01
endstop_pin: ^PB5
position_endstop: -3
position_min: -3
position_max: 320
homing_speed: 50
homing_retract_dist: 0

[stepper_z]
step_pin: PC2
dir_pin: PL2
enable_pin: !PA5
step_distance: .00125
endstop_pin: probe:z_virtual_endstop
position_endstop: 0.5
position_min: -4
position_max: 225

[extruder]
step_pin: PC3
dir_pin: PL6
enable_pin: !PA4
step_distance: .0024
pressure_advance: 0.247
nozzle_diameter: 0.800
filament_diameter: 1.750
heater_pin: PH6
sensor_type: SliceEngineering 450
sensor_pin: PF0
#control: pid
#pid_Kp: 22.2
#pid_Ki: 1.08
#pid_Kd: 114
min_temp: -50
max_temp: 450
min_extrude_temp: 170
max_extrude_only_distance: 100

#Uncomment below for dual extruder printers
[extruder1]
step_pin: PC4
dir_pin: PL7
enable_pin: !PA3
step_distance: .0024
pressure_advance: 0.247
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PH4
sensor_type: ATC Semitec 104GT-2
sensor_pin: PF1
#control: pid
#pid_Kp: 22.2
#pid_Ki: 1.08
#pid_Kd: 114
min_temp: -50
max_temp: 450
min_extrude_temp: 170
max_extrude_only_distance: 100

[heater_bed]
heater_pin: PE5
sensor_type: NTC 100K beta 3950
sensor_pin: PF2
#control: watermark
min_temp: 0
max_temp: 130

[bltouch]
sensor_pin: PB4
control_pin: PL5
x_offset: 17
y_offset: 32
#z_offset: 2.0

[safe_z_home]
home_xy_position: 125,160
z_hop: 10
z_hop_speed: 5

# script to execute when changing to extruder
[gcode_macro T0]
gcode:
    SET_GCODE_OFFSET X=0 Y=0
    ACTIVATE_EXTRUDER EXTRUDER=extruder

# script to execute when changing to extruder1
[gcode_macro T1]
gcode:
    SET_GCODE_OFFSET X=-35.4 Y=-0.4
    ACTIVATE_EXTRUDER EXTRUDER=extruder1

# [gcode_macro START_PRINT]
# gcode:
#     G28
#     M104 T0 S150
#     M104 T1 S150
#     M190 S{material_bed_temperature}
#     G90
#     G92 E0
#     M109 S{material_print_temperature}

# [gcode_macro END_PRINT]
# gcode:
#     M104 T0 S0
#     M104 T1 S0
#     M140 S0
#     G92 E1
#     G1 E-1 F300
#     G91
#     G1 Z5 F5000
#     G90
#     G28 X0
#     G1 Y300 F4000
#     M84

[bed_mesh]
speed: 50
#   The speed (in mm/s) of non-probing moves during the
#   calibration. The default is 50.
horizontal_move_z: 5
#   The height (in mm) that the head should be commanded to move to
#   just prior to starting a probe operation. The default is 5.
#bed_radius:
#   Defines the radius to probe for round beds.  Note that the radius
#   is relative to the nozzle's origin, if using a probe be sure to
#   account for its offset.  This parameter must be provided for round
#   beds and omitted for rectangular beds.
mesh_min: 22,77
#   Defines the minimum x,y position to probe when for rectangular
#   beds. Note that this refers to the nozzle position, take care that
#   you do not define a point that will move the probe off of the bed.
#   This parameter must be provided for rectangular beds.
mesh_max: 245,265
#   Defines the maximum x,y position to probe when for rectangular
#   beds. Follow the same precautions as listed in min_point. Also note
#   that this does not necessarily define the last point probed, only
#   the maximum coordinate. This parameter must be provided.
probe_count: 7,9
#   For rectangular beds, this is a comma separate pair of integer
#   values (X,Y) defining the number of points to probe along each axis.
#   A single value is also valid, in which case that value will be applied
#   to both axes.  Default is 3,3.
#round_probe_count: 5
#   For round beds, this is integer value defines the maximum number of
#   points to probe along each axis. This value must be an odd number.
#   Default is 5.
fade_start: 1.0
#   The gcode z position in which to start phasing out z-adjustment
#   when fade is enabled.  Default is 1.0.
fade_end: 0.0
#   The gcode z position in which phasing out completes.  When set
#   to a value below fade_start, fade is disabled. It should be
#   noted that fade may add unwanted scaling along the z-axis of a
#   print.  If a user wishes to enable fade, a value of 10.0 is
#   recommended. Default is 0.0, which disables fade.
#fade_target:
#   The z position in which fade should converge. When this value is set
#   to a non-zero value it must be within the range of z-values in the mesh.
#   Users that wish to converge to the z homing position should set this to 0.
#   Default is the average z value of the mesh.
split_delta_z: .025
#   The amount of Z difference (in mm) along a move that will
#   trigger a split. Default is .025.
move_check_distance: 5.0
#   The distance (in mm) along a move to check for split_delta_z.
#   This is also the minimum length that a move can be split. Default
#   is 5.0.
mesh_pps: 2,2
#   A comma separated pair of integers (X,Y) defining the number of
#   points per segment to interpolate in the mesh along each axis. A
#   "segment" can be defined as the space between each probed
#   point. The user may enter a single value which will be applied
#   to both axes.  Default is 2,2.
algorithm: bicubic
#   The interpolation algorithm to use. May be either "lagrange"
#   or "bicubic". This option will not affect 3x3 grids, which
#   are forced to use lagrange sampling.  Default is lagrange.
bicubic_tension: .2
#   When using the bicubic algorithm the tension parameter above
#   may be applied to change the amount of slope interpolated.
#   Larger numbers will increase the amount of slope, which
#   results in more curvature in the mesh. Default is .2.
#relative_reference_index:
#   A point index in the mesh to reference all z values to. Enabling
#   this parameter produces a mesh relative to the probed z position
#   at the provided index.

[fan]
pin: PH5

[heater_fan nozzle_cooling_fan]
pin: PH3
heater: extruder,extruder1

[mcu]
serial: /dev/serial/by-id/usb-UltiMachine__ultimachine.com__RAMBo_8553730363035161B011-if00

[printer]
kinematics: cartesian
max_velocity: 300
max_accel: 3000
max_z_velocity: 5
max_z_accel: 100

[ad5206 stepper_digipot]
enable_pin: PD7
scale: 2.08
# Channel 1 is E0, 2 is E1, 3 is unused, 4 is Z, 5 is X, 6 is Y
channel_1: 1.34
channel_2: 1.0
channel_4: 1.1
channel_5: 1.1
channel_6: 1.1

# Enable 16 micro-steps on steppers X, Y, Z, E0, E1
[static_digital_output stepper_config]
pins:
    PG1, PG0,
    PK7, PG2,
    PK6, PK5,
    PK3, PK4,
    PK1, PK2

[static_digital_output yellow_led]
pins: !PB7

# Common EXP1 / EXP2 (display) pins
[board_pins]
aliases:
    # Common EXP1/EXP2 headers found on RAMBo v1.4
    EXP1_1=PE6, EXP1_3=PG3, EXP1_5=PJ2, EXP1_7=PJ7, EXP1_9=<GND>,
    EXP1_2=PE2, EXP1_4=PG4, EXP1_6=PJ3, EXP1_8=PJ4, EXP1_10=<5V>,
    # EXP2 header
    EXP2_1=PB3, EXP2_3=PJ5, EXP2_5=PJ6, EXP2_7=PD4, EXP2_9=<GND>,
    EXP2_2=PB1, EXP2_4=PB0, EXP2_6=PB2, EXP2_8=PE7, EXP2_10=PH2
    # Pins EXP2_1, EXP2_6, EXP2_2 are also MISO, MOSI, SCK of bus "spi"

# See the sample-lcd.cfg file for definitions of common LCD displays.

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 31.967
#*# pid_ki = 2.292
#*# pid_kd = 111.486
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 40.801
#*# pid_ki = 0.907
#*# pid_kd = 459.016
#*#
#*# [bltouch]
#*# z_offset = 1.300
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	-0.200000, -0.160000, -0.113750, -0.043750, 0.035000, 0.115000, 0.193750
#*# 	-0.232500, -0.192500, -0.150000, -0.073750, -0.001250, 0.085000, 0.163750
#*# 	-0.221250, -0.187500, -0.148750, -0.080000, -0.033750, 0.040000, 0.110000
#*# 	-0.163750, -0.148750, -0.116250, -0.073750, -0.033750, 0.035000, 0.082500
#*# 	-0.121250, -0.111250, -0.048750, -0.040000, 0.001250, 0.053750, 0.117500
#*# 	-0.086250, -0.066250, -0.037500, 0.007500, 0.043750, 0.113750, 0.163750
#*# 	-0.045000, -0.032500, 0.003750, 0.042500, 0.092500, 0.157500, 0.217500
#*# 	0.015000, 0.035000, 0.070000, 0.101250, 0.152500, 0.207500, 0.272500
#*# 	0.096250, 0.116250, 0.138750, 0.180000, 0.230000, 0.283750, 0.336250
#*# x_count = 7
#*# y_count = 9
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 22.0
#*# max_x = 244.96
#*# min_y = 77.0000000001
#*# max_y = 265.0
#*#
#*# [extruder1]
#*# control = pid
#*# pid_kp = 24.417
#*# pid_ki = 0.930
#*# pid_kd = 160.233
